## filter format year:quarter:type:cik
## year is a mandatory field

[archive]
filters=2004::8-K:;2002:QTR3::1050122;2017:QTR4:10-Q:1588014;2016:QTR2:8-K:

[folder]
base=/home/sree/code/edgar-download/datastore